@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #ffffff;
  --color-accent: #D97706;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: #ffffff;
  --foreground: #1e3a8a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}